
<div class="w-screen rounded-md m-2">
    <div class="bg-card rounded-md relative flex-1 flex-0 flex-col m-2 border-b px-6 py-8">
      <h1 class="text-4xl font-bold pb-3 text-contrast">Nuevo registro de salida</h1>
      <h3 class="pb-3 text-contrast">Campos con símbolo (*) son obligatorios</h3>
      
      <div class="mt-6">
        <form [formGroup]="informeSucesosForm">
          <div class="form-row-2 grid grid-cols-12 gap-4">
            <div class="col-span-6">
              <mat-form-field appearance="fill" class="w-full">
                <mat-label>Selecciona una persona</mat-label>
                <input
                  type="text"
                  matInput
                  [matAutocomplete]="auto"
                  [formControl]="personaControl"
                  (focus)="onInputFocus()"
                  placeholder="Buscar persona"
                  [required]="true"
                 />
                <mat-autocomplete
                  #auto="matAutocomplete"
                  [displayWith]="displayFn"
                  (optionSelected)="cambioAdolescente($event.option.value)">
                  <mat-option *ngFor="let adolescente of (adolescentesFiltrados | async)" [value]="adolescente">
                    {{ getNombreCompleto(adolescente) }}
                  </mat-option>
                </mat-autocomplete>
                <mat-error *ngIf="personaControl.hasError('required')">
                  Este campo es obligatorio.
                </mat-error>
                <mat-error *ngIf="personaControl.hasError('specialCharacters')">
                  No se permiten caracteres especiales.
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-span-6">
              <div class="w-full">
                <mat-form-field appearance="fill" class="w-full">
                  <mat-label>Número de identificación </mat-label>
                  <input matInput formControlName="numeroIdentificacion"  maxlength="50" readonly/>
                </mat-form-field>
              </div>
            </div>
          </div>
          
  
  
  
        
          <div class="form-row-2 grid grid-cols-12 gap-4">
          <div class="col-span-6">
            <mat-form-field appearance="fill" class="w-full">
              <mat-label>Motivo de salida</mat-label>
              <mat-select formControlName="motivoSalida" required (selectionChange)="onMotivoSalidaChange($event.value)">
                @for (catalogo of catalogosMotivoSalida; track catalogo) {
                  <mat-option [value]="catalogo">{{catalogo.nombre}}</mat-option>
              }
              </mat-select>
              <mat-error *ngIf="informeSucesosForm.controls['motivoSalida'].hasError('required')">
                Este campo es obligatorio.
              </mat-error>
            </mat-form-field>
          </div> 
          <div class="col-span-4">
            <mat-form-field appearance="fill" class="w-full">
              <mat-label>Fecha de la salida</mat-label>
              <input matInput
                  [matDatepicker]="fechaRegistroPicker"
                  formControlName="fechaSalida"
                  placeholder="dd/mm/aaaa" /> 
              <mat-datepicker-toggle matSuffix [for]="fechaRegistroPicker"></mat-datepicker-toggle>
              <mat-datepicker #fechaRegistroPicker></mat-datepicker>
              <mat-error *ngIf="informeSucesosForm.controls['fechaSalida'].hasError('required')">
                Este campo es obligatorio.
              </mat-error>
            </mat-form-field>
          </div>
        
          <div class="col-span-2">
            <mat-form-field appearance="fill" class="w-full">
              <mat-label class="font-bold text-black">Hora de la salida</mat-label>
              <input
                type="time"
                matInput
                formControlName="horaSalida"
                [required]="true"/>
                <mat-error *ngIf="informeSucesosForm.controls['horaSalida'].hasError('invalid')">
                  Por favor, ingrese una hora válida (00:00 - 23:59).
                </mat-error>
                <mat-error *ngIf="informeSucesosForm.controls['horaSalida'].hasError('required')">
                  Este campo es obligatorio.
                </mat-error>
            </mat-form-field>
          </div>       
          </div>

      
          <div class="w-full mt-4">
            <mat-form-field appearance="fill" class="w-full">
              <mat-label>Observaciones</mat-label>
              <textarea 
                matInput 
                formControlName="observaciones" 
                placeholder="Ingrese las observaciones" 
                [required]="true" 
                rows="4">
              </textarea>
              <mat-error *ngIf="informeSucesosForm.controls['observaciones'].hasError('required')">
                Este campo es obligatorio.
              </mat-error>
            </mat-form-field>
          </div>



<!-- Tabla dinámica -->
<div *ngIf="motivoSalidaSeleccionado" class="w-full mt-6 table-container">
  <h3 class="text-lg font-bold">Seleccionar registro</h3>
  <table mat-table [dataSource]="registrosDataSource" class="mat-elevation-z8 w-full">

    <!-- Columna No Documento -->
    <ng-container matColumnDef="noDocumento">
      <th mat-header-cell *matHeaderCellDef>No. documento</th>
      <td mat-cell *matCellDef="let element">{{ element.noDocumento }}</td>
    </ng-container>

    <!-- Columna Fecha -->
    <ng-container matColumnDef="fecha">
      <th mat-header-cell *matHeaderCellDef>Fecha</th>
      <td mat-cell *matCellDef="let element">
        {{ element.fecha ? (element.fecha | date: 'dd/MM/yyyy HH:mm') : 'Sin fecha' }}
      </td>
       
    </ng-container>

    <!-- Columna Centro -->
    <ng-container *ngIf="motivoSalidaSeleccionado === 'SALIDA_TRASLADO'" matColumnDef="centro">
      <th mat-header-cell *matHeaderCellDef>Centro</th>
      <td mat-cell *matCellDef="let element">{{ element.centro }}</td>
    </ng-container>


    <ng-container matColumnDef="observacion">
      <th mat-header-cell *matHeaderCellDef>Observaciones</th>
      <td mat-cell *matCellDef="let element">{{ element.observacion }}</td>
    </ng-container>

    <!-- Columna Seleccionar -->
    <ng-container matColumnDef="select" >
      <th mat-header-cell *matHeaderCellDef [hidden]="tokenID">Seleccionar</th>
      <td mat-cell *matCellDef="let element">
        <mat-radio-button 
        [hidden]="tokenID"
          [checked]="selectedRegistro === element" 
          (change)="seleccionarRegistro(element)">
        </mat-radio-button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>


        </form>
      </div>
  
      <div class="button-container">
        <!-- <button 
        class="custom-button"
        mat-raised-button 
        color="primary"
        (click)="pruebaPdf()" 
        [hidden]="estado !== 'Completada'">      
          Generar PDF
        </button> -->
        <button
          class="custom-button"
          mat-raised-button
          color="accent"
          (click)="cancelar()">
          Cancelar
        </button>
        <button
          class="custom-button"
          mat-raised-button
          color="primary"
          type="submit"
          (click)="guardarFuga()"
          [hidden]="tokenID">
          Guardar
        </button>
      </div>

    </div>
  </div>
  