<div class="container w-full">
  <div class="px-6 text-3xl font-bold pb-3 text-contrast">Crear informe final de asistencia</div>
  
  <mat-accordion multi>
   
    <mat-expansion-panel expanded class="mb-4">
      <mat-expansion-panel-header [collapsedHeight]="'56px'">
        <mat-panel-title class="font-medium leading-tight">Datos generales</mat-panel-title>
      </mat-expansion-panel-header>

      <form [formGroup]="fechasFormGroup">
        <div class="flex flex-wrap">
          <mat-form-field class="sm:w-full md:w-1/2" floatLabel="always">
            <mat-label>Fecha de inicio</mat-label>
            <input matInput [matDatepicker]="pickerFechaInicio" formControlName="fechaInicio"   (change)="onFechaManual($event, 'fechaInicio')">
            <mat-hint>DD/MM/AAAA</mat-hint>          
            <mat-error>El campo es obligatorio</mat-error>                
            <mat-datepicker-toggle matIconSuffix [for]="pickerFechaInicio"></mat-datepicker-toggle>
            <mat-datepicker #pickerFechaInicio></mat-datepicker>
          </mat-form-field>
  
          <mat-form-field class="sm:w-full md:w-1/2 md:pl-2" floatLabel="always">
            <mat-label>Fecha de fin</mat-label>
            <input matInput [matDatepicker]="pickerFechaFin" formControlName="fechaFin" (change)="onFechaManual($event, 'fechaFin')">
            <mat-hint>DD/MM/AAAA</mat-hint>          
            <mat-error>El campo es obligatorio</mat-error>                
            <mat-datepicker-toggle matIconSuffix [for]="pickerFechaFin"></mat-datepicker-toggle>
            <mat-datepicker #pickerFechaFin></mat-datepicker>
          </mat-form-field>
        </div>
      </form>
    </mat-expansion-panel>

    <mat-expansion-panel expanded class="mb-4">
      <mat-expansion-panel-header [collapsedHeight]="'56px'">
        <mat-panel-title class="font-medium leading-tight">Evaluación del plan de asistencia y seguimiento posterior al egreso</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="flex justify-end">
    
      </div>
      <div class="flex justify-end">                 
        <button mat-fab extended class="ml-3" (click)="agregarFila()" color="primary" [hidden]="esVisualizar">
          <mat-icon>add</mat-icon>
          Agregar
        </button>
      </div>
      <div class="my-8 px-4 mat-elevation-z2">
        <div class="overflow-x-auto">
          <table mat-table [dataSource]="dataSource">
            
            <ng-container matColumnDef="acciones">
              <th mat-header-cell *matHeaderCellDef> Acciones </th>
              <td mat-cell *matCellDef="let document; let i = index" class="whitespace-nowrap">         
                <!-- <button mat-icon-button matTooltip="Ver">
                  <mat-icon class="text-message">visibility</mat-icon>
                </button> -->
                @if (!estadoVisualizar) {
                  <button mat-icon-button matTooltip="Editar" color="primary" (click)="editarFila(document, i)" [disabled]="esVisualizar">
                    <mat-icon class="text-message">edit</mat-icon>
                  </button>                                                    
                }
              </td>
            </ng-container>   

            <ng-container matColumnDef="area">
              <th mat-header-cell *matHeaderCellDef> Áreas </th>
              <td mat-cell *matCellDef="let document" class="break-words-custom"> {{document.area?.nombre}} </td>
            </ng-container>             

            <ng-container matColumnDef="objetivoGeneral">
              <th mat-header-cell *matHeaderCellDef> Objetivo general </th>
              <td mat-cell *matCellDef="let document" class="break-words-custom"> {{document.objetivoGeneral}} </td>
            </ng-container>         
            
            <ng-container matColumnDef="objetivoEspecifico">
              <th mat-header-cell *matHeaderCellDef> Objetivo específico </th>
              <td mat-cell *matCellDef="let document" class="break-words-custom"> {{document.objetivoEspecifico}} </td>
            </ng-container>    
            
            <ng-container matColumnDef="actividades">
              <th mat-header-cell *matHeaderCellDef> Actividades </th>
              <td mat-cell *matCellDef="let document" class="break-words-custom"> {{document.actividades}} </td>
            </ng-container>  

            <ng-container matColumnDef="descripcionActividad">
              <th mat-header-cell *matHeaderCellDef> Descripción de las actividades realizadas </th>
              <td mat-cell *matCellDef="let document" class="break-words-custom"> {{document.descripcionActividad}} </td>
            </ng-container>        

            <ng-container matColumnDef="logro">
              <th mat-header-cell *matHeaderCellDef> Logros </th>
              <td mat-cell *matCellDef="let document" class="break-words-custom"> {{document.logro}} </td>
            </ng-container>   
            
            <ng-container matColumnDef="dificultad">
              <th mat-header-cell *matHeaderCellDef> Dificultades </th>
              <td mat-cell *matCellDef="let document" class="break-words-custom"> {{document.dificultad}} </td>
            </ng-container>   

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">No existen registros</td>
            </tr>
          </table>
        </div>
        <mat-paginator class="flex justify-center" #paginator="matPaginator" [pageSizeOptions]="[6, 10, 25, 100]"></mat-paginator>
      </div>
    </mat-expansion-panel>

  </mat-accordion>

  <div class="flex justify-center mt-8">
    <button mat-flat-button color="accent" class="fuse-mat-button-large w-1/4 ml-4 text-lg text-bold"
              (click)="cancelar()">
              Volver
            </button>
    <button class="fuse-mat-button-large w-1/3 ml-4" mat-raised-button color="primary" type="submit" [disabled]="fechasFormGroup.invalid"
        (click)="guardarPlanAsistencia()" [disabled]="esVisualizar">Guardar</button>
  </div>
</div>