<div class="bg-card rounded-md relative flex-1 flex-0 flex-col m-2 border-b px-6 py-8 sm:flex-row sm:items-center sm:justify-between md:px-8">

    <div class="relative flex flex-0 flex-col border-b pb-8  sm:flex-row sm:items-center sm:justify-between md:px-8">
        <h1 class="text-2xl font-bold tracking-tight">Información de auditoría</h1>
    </div>
    <form class="py-4">
        <div class="form-row-2">
            <mat-form-field appearance="fill">
                <mat-label class="font-bold text-black">Usuario creación</mat-label>
                <input matInput value="Usuario 1" [disabled]="true"/>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label class="font-bold text-black">Fecha de creación</mat-label>
                <input matInput value="18/10/2024" [disabled]="true"/>
            </mat-form-field>
        </div>

        <div class="form-row-2">
            <mat-form-field appearance="fill">
                <mat-label class="font-bold text-black">Usuario edición</mat-label>
                <input matInput value="Usuario 1" [disabled]="true"/>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label class="font-bold text-black">Fecha de edición</mat-label>
                <input matInput value="18/10/2024" [disabled]="true"/>
            </mat-form-field>
        </div>
    </form>
</div>


