<div class="container">
    <!--div class="items-end">
        <div class="flex justify-end mt-4">
            <button mat-fab extended class="ml-3" color="accent"
                (click)="buscar()"><mat-icon>refresh</mat-icon>Refrescar
            </button>
            <mat-form-field class="w-1/3 ml-2">
                <input matInput placeholder="Buscar..." [(ngModel)]="textoBuscar" #input (change)="buscar()" />
                <mat-icon matSuffix class="cursor-pointer" (click)="buscar()">search</mat-icon>
            </mat-form-field>
        </div>
    </div-->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-2">
        <!-- Contenedor para el input alineado a la izquierda -->
        <mat-form-field class="w-full md:w-3/4" [subscriptSizing]="'dynamic'">
            <mat-icon matPrefix [svgIcon]="'heroicons_solid:magnifying-glass'"></mat-icon>
            <input matInput [(ngModel)]="textoBuscar" (ngModelChange)="buscar()" placeholder="Buscar" />
        </mat-form-field>
        <!-- Contenedor para los botones alineados a la derecha -->
        <div class="items-end grid grid-cols-1 md:grid-cols-2 gap-2" align="end">
            <button mat-fab extended color="accent" (click)="buscar()">
                <mat-icon>refresh</mat-icon>Refrescar
            </button>
            @if(butonAgregar){
            <button mat-fab extended color="primary" (click)="onAdd()">
                <mat-icon>add</mat-icon>{{tituloBotonAgregar}}
            </button>
            }
        </div>
    </div>
    <div class="w-full pt-2">
        @if(dataSource?.data?.length > 0){
        <div class="gap-2">
            <div class="w-full overflow-auto">
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 ">

                    @for(key of getKeys(); track $index){
                    <ng-container [matColumnDef]="key">
                        <th mat-header-cell *matHeaderCellDef>{{keyLabelsTable[key]}}</th>
                        <td mat-cell *matCellDef="let dato; let i = index;">
                            @if(key == "acciones"){
                            <app-acciones-usuario [accionesCustom]="accionesCustom"
                                (accionEvent)="accionEvent($event, dato)"></app-acciones-usuario>
                            }@else if(key == "mime_type"){

                            @if(dato[key] == "application/pdf"){
                            <div [matTooltip]="dato[key]" matTooltipPosition="above">
                                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor"
                                    class="bi bi-filetype-pdf" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M14 4.5V14a2 2 0 0 1-2 2h-1v-1h1a1 1 0 0 0 1-1V4.5h-2A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v9H2V2a2 2 0 0 1 2-2h5.5zM1.6 11.85H0v3.999h.791v-1.342h.803q.43 0 .732-.173.305-.175.463-.474a1.4 1.4 0 0 0 .161-.677q0-.375-.158-.677a1.2 1.2 0 0 0-.46-.477q-.3-.18-.732-.179m.545 1.333a.8.8 0 0 1-.085.38.57.57 0 0 1-.238.241.8.8 0 0 1-.375.082H.788V12.48h.66q.327 0 .512.181.185.183.185.522m1.217-1.333v3.999h1.46q.602 0 .998-.237a1.45 1.45 0 0 0 .595-.689q.196-.45.196-1.084 0-.63-.196-1.075a1.43 1.43 0 0 0-.589-.68q-.396-.234-1.005-.234zm.791.645h.563q.371 0 .609.152a.9.9 0 0 1 .354.454q.118.302.118.753a2.3 2.3 0 0 1-.068.592 1.1 1.1 0 0 1-.196.422.8.8 0 0 1-.334.252 1.3 1.3 0 0 1-.483.082h-.563zm3.743 1.763v1.591h-.79V11.85h2.548v.653H7.896v1.117h1.606v.638z" />
                                </svg>
                            </div>
                            }@else{
                            <mat-icon [matTooltip]="dato[key]" matTooltipPosition="above">
                                @if(dato[key].includes("image")){
                                image
                                }@else{
                                description
                                }
                            </mat-icon>
                            }
                            }@else{
                            {{dato[key]}}
                            }
                        </td>
                    </ng-container>
                    }

                    <tr mat-header-row *matHeaderRowDef="getKeys(); sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: getKeys();let i = index"></tr>
                </table>
            </div>
            <mat-paginator [length]="totalItems" [pageSize]="pageSize" [pageSizeOptions]="pageSizeList"
                (page)="onPaginateChange($event)" class="flex justify-center text-bold">
            </mat-paginator>
        </div>
        }@else {
        <p>No hay archivos cargados</p>
        }
    </div>
</div>