<div class="flex min-w-0 flex-auto flex-col">
    <div class="flex-auto p-6 sm:p-10">
        <div class="container">
            <h1 class="text-4xl font-bold pb-3 text-contrast">{{titulo}}s</h1>
            <app-tabla-datos #tabla [titulo]="titulo" [listaDatos]="listaDePlantillas"
                [etiquetasColumnas]="keyLabelsTable" [paginacion]="paginacion" [permitirBloquear]="false"
                [permitirExcel]="false" (refrescar)="obtenerPlantillasFormulario()"
                (agregar)="agregarPlantillaFormulario()" (editar)="editarPlantillaFormulario($event)"
                (ver)="visualizarPlantillaFormulario($event)" (eliminar)="eliminarPlantillaFormulario($event)"
                (requestAllData)="descargarExcelCompleto()" (cambioOrden)="handleSortEvent($event)"
                (buscar)="handleSearchEvent($event)" (cambioPagina)="handlePageEvent($event)">
            </app-tabla-datos>
        </div>
    </div>
</div>