<h2 mat-dialog-title class="text-2xl font-bold pb-3 text-contrast">Documentos</h2>
<mat-dialog-content>
    <app-documentos-subidos-tabla #documentosComp [tiposDeDocumentosSistema]="tiposDeDocumentosSistema"
        [nemonicoMenu]="nemonicoMenu" (pageEvent)="pageEventDocumentos($event)"></app-documentos-subidos-tabla>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button class="fuse-mat-button-large w-1/5 ml-4" mat-flat-button [color]="'accent'" (click)="cerrar()">Cerrar</button>
</mat-dialog-actions>