/*
   * This padding sets alignment of the nested nodes.
   */
   .example-tree .mat-nested-tree-node div[role='group'] {
    padding-left: 40px;
}

/*
   * Padding for leaf nodes.
   * Leaf nodes need to have padding so as to align with other non-leaf nodes
   * under the same parent.
   */
.example-tree div[role='group'] > .mat-tree-node {
    padding-left: 40px;
}

::ng-deep .mat-dialog-container {
    min-width: 500px;
    max-width: 90vw;
    min-height: 300px;
    max-height: 90vh;
    overflow: auto;
  }

@import '../../../../../core/components/tree-ngx/src/scss/main.scss'