.theme-default .light,
.theme-default.light {
  --mat-select-disabled-trigger-text-color: rgba(0, 0, 0, 0.5) !important;
}

.mat-mdc-form-field.mat-form-field-appearance-fill.mat-form-field-disabled {
  cursor: not-allowed;
  opacity: 1 !important;
}

input[disabled], textarea[disabled] {
  cursor: not-allowed;
  opacity: 1 !important;
  color: rgba(0, 0, 0, 0.5) !important;
}

.break-words-custom {
  word-wrap: break-word;
  white-space: normal;
  overflow-wrap: break-word;
  max-width: 300px; /* Ajusta según necesidad */
  //min-width: auto
}
