<h2 class="text-2xl text-primary font-bold" mat-dialog-title>
    {{titulo}}
</h2>

<mat-dialog-content>
    <div class="w-full p-3">
        <form class="w-full pt-3" [formGroup]="formCatalogo">
            <div class=" grid gap-4 grid-cols-1 md:grid-cols-2">
                <div class="w-full">
                    <mat-form-field class="w-full">
                        <mat-label>Nombre</mat-label>
                        <input matInput placeholder="Nombre del catálogo" formControlName="nombre" maxlength="255" />
                        <mat-error class="text-warn-300">{{getError("nombre")}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="w-full">
                    <mat-form-field class="w-full">
                        <mat-label>Descripción</mat-label>
                        <textarea matInput placeholder="Descripción del catálogo"
                            formControlName="descripcion"></textarea>
                        <mat-error class="text-warn-300">{{getError("descripcion")}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="w-full">
                    <mat-form-field class="w-full">
                        <mat-label>Código externo</mat-label>
                        <input matInput placeholder="Código externo" formControlName="codigoExterno" maxlength="255" />
                        <mat-error class="text-warn-300">{{getError("codigoExterno")}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="w-full">
                    <mat-form-field class="w-full">
                        <mat-label>Nemonico</mat-label>
                        <input matInput placeholder="Nemonico del catálogo" formControlName="nemonico"
                            maxlength="255" />
                        <mat-error class="text-warn-300">{{getError("nemonico")}}</mat-error>
                    </mat-form-field>
                </div>
            </div>
        </form>
    </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-fab extended [color]="'accent'" (click)="cancelar()">
        <mat-icon>cancel</mat-icon>Cerrar
    </button>
    <button mat-fab extended [color]="'primary'" (click)="crearCatalogo()">
        <mat-icon>add</mat-icon>Crear
    </button>
</mat-dialog-actions>