.step-label {
    display: flex;
    align-items: center;
    gap: 8px;
  
    &.en-curso {
      color: #007bff; // Azul para resaltar
      font-weight: bold;
    }
  
    &.pendiente {
      color: #aaa; // Atenuado
    }
  
    &.completada {
      color: #333; // Normal
    }
  }