<div class="w-full">
    <!-- Form -->
    <form [formGroup]="contraseniaForm">
        <!-- Section -->
        <div class="w-full">
            <div class="text-xl">Cambia tu contraseña</div>
        </div>
        <div class="mt-8 grid w-full gap-5">
            <!-- Current password -->
            <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                <mat-label>Contraseña actual</mat-label>
                <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:key'" matPrefix></mat-icon>
                <input [formControlName]="'contraseniaActual'" type="password" matInput />
                <mat-error>Campo requerido</mat-error>
            </mat-form-field>

            <app-ingreso-contrasenia #ingresoContraseniaComp [nemonicoMenu]="nemonicoMenu"></app-ingreso-contrasenia>
        </div>

        <!-- Divider -->
        <div class="my-10 border-t"></div>

        <!-- Section -->
        <div class="w-full">
            <div class="text-xl">Preferencias de seguridad</div>
            <div class="text-secondary">
                Manten tu cuenta más segura con estas preferencias
            </div>
        </div>
        <div class="mt-8 grid w-full gap-6 sm:grid-cols-4">
            <!-- 2-step auth -->
            <div class="flex items-center justify-between sm:col-span-4">
                <div class="flex-auto cursor-pointer" (click)="twoStepToggle.toggle()">
                    <div class="font-medium leading-6">
                        Habilitar 2do factor de autenticación
                    </div>
                    <div class="text-secondary text-md">
                        Protege el acceso a tu cuenta con una verificación de un OTP vía correo electrónico.
                    </div>
                </div>
                <mat-slide-toggle class="ml-4" [color]="'primary'" [formControlName]="'twoStep'" #twoStepToggle>
                </mat-slide-toggle>
            </div>
            <!-- Ask to change password -->
            <div class="flex items-center justify-between sm:col-span-4">
                <div class="flex-auto cursor-pointer" (click)="askPasswordChangeToggle.toggle()">
                    <div class="font-medium leading-6">
                        Pedir cambio de contraseña cada {{numeroDeDias}} días.
                    </div>
                    <div class="text-secondary text-md">
                        Una simple pero efectiva manera de proteger fugas de información y robos de contraseñas.
                    </div>
                </div>
                <mat-slide-toggle class="ml-4" [color]="'primary'" [formControlName]="'askPasswordChange'"
                    #askPasswordChangeToggle>
                </mat-slide-toggle>
            </div>
        </div>

        <!-- Divider -->
        <div class="my-10 border-t"></div>

        <!-- Actions -->
        <div class="flex items-center justify-end">
            <button mat-stroked-button type="button">Cancelar</button>
            <button class="ml-4" mat-flat-button type="button" [color]="'primary'" (click)="guardarDatosDeSeguridad()">
                Guardar
            </button>
        </div>
    </form>
</div>