<h2 mat-dialog-title class="text-lg font-bold pb-3 text-primary">
  {{ data?.fila ? 'Editar' : 'Añadir' }}
</h2>
<mat-dialog-content>
  <form [formGroup]="registroFormGroup">
    <!-- <div class="grid gap-4 grid-cols-1 md:grid-cols-3 mt-4 items-center"> -->
      <div class="flex flex-wrap">
        <!-- Fecha Inicio -->
        <mat-form-field appearance="fill" class="sm:w-full md:w-2/4" floatLabel="always">
          <mat-label>Fecha de inicio</mat-label>
          <input matInput [matDatepicker]="pickerInicio" formControlName="fecha" placeholder="DD/MM/AAAA">
          <mat-hint>DD/MM/AAAA</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="pickerInicio"></mat-datepicker-toggle>
          <mat-datepicker #pickerInicio></mat-datepicker>
          @if (registroFormGroup.get('fecha').hasError('required')) {
            <mat-error>El campo es obligatorio</mat-error>
          } @else {
            <mat-error>Formato inválido</mat-error>
          }  
        </mat-form-field>
  
        <!-- Hora Inicio -->
        <mat-form-field appearance="fill" class="sm:w-full md:w-1/4 md:pl-2">
          <mat-label>Hora de inicio</mat-label>
          <input matInput type="time" formControlName="horaInicio" required>
          <mat-error *ngIf="registroFormGroup.get('horaInicio')?.hasError('required')">El campo es obligatorio</mat-error>
        </mat-form-field>
  
  
        <!-- Hora Fin -->
        <mat-form-field appearance="fill" class="sm:w-full md:w-1/4 md:pl-2">
          <mat-label>Hora de fin</mat-label>
          <input matInput type="time" formControlName="horaFin" required>
          <mat-error *ngIf="registroFormGroup.get('horaFin')?.hasError('required')">El campo es obligatorio</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" floatLabel="always" class="sm:w-full">
          <mat-label>Observaciones</mat-label>
          <textarea matInput rows="3" formControlName="observaciones" placeholder="Ingrese observaciones" #observaciones class="resize-none"></textarea>
          <!-- <mat-hint align="end">{{observaciones.value.length}} / 250</mat-hint> -->
        </mat-form-field>
      </div>


    <!-- </div> -->
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-flat-button mat-dialog-close color="accent">Cerrar</button>
  <button mat-flat-button (click)="agregar()" [disabled]="registroFormGroup.invalid" color="primary">
    {{ data?.fila ? 'Actualizar' : 'Guardar' }}
  </button>
</mat-dialog-actions>
