<div class="flex min-w-0 flex-auto flex-col">
    <div class="flex-auto p-6 sm:p-10">
        <div class="container">
            <h1 class="text-4xl font-bold pb-3 text-contrast">{{tituloPantalla + nombreCentro}}</h1>
            <div class="buttons ">
                <!-- Contenedor para el input alineado a la izquierda -->
                <div class="input-container">
                    <mat-form-field class="fuse-mat-dense fuse-mat-rounded min-w-64 justify-left"
                        [subscriptSizing]="'dynamic'">
                        <mat-label>Filtro</mat-label>
                        <mat-icon class="icon-size-5" matPrefix
                            [svgIcon]="'heroicons_solid:magnifying-glass'"></mat-icon>
                        <input matInput
                            [placeholder]="'Buscar ficha'" [(ngModel)]="filter" />
                    </mat-form-field>
                    <mat-form-field class="fuse-mat-dense fuse-mat-rounded min-w-64 justify-left"
                    [subscriptSizing]="'dynamic'" *ngIf="this.centro?.nemonico=='SOA'||this.centro?.nemonico=='CJDR'">
                        <mat-label>Centro</mat-label>
                        <mat-select [(value)]="filtroCentro"
                                    (selectionChange)="onChangeCentro($event.value)">
                            <!-- Opción para "ninguno" o "seleccione" -->
                            <mat-option [value]="0">Todos</mat-option>
                            <!-- Opciones dinámicas -->
                            <mat-option *ngFor="let centro of centros"
                                        [value]="centro.tokenIdentificador">
                                {{ centro.nombre }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <button mat-mini-fab color="primary" class="ml-2" (click)="obtenerFichasIdentificacion()">
                        <mat-icon class="text-secondary">search</mat-icon>
                    </button>
                    <button class="ml-3" (click)="onXLSX()">
                        <img src="images/icons/xlsx.png" class="size-9">
                    </button>
                </div>
                <!-- Contenedor para los botones alineados a la derecha -->
                <div class="buttons-container flex justify-end">

                    <button mat-fab extended color="accent" (click)="obtenerFichasIdentificacion()">
                        <mat-icon>refresh</mat-icon>Refrescar
                    </button>
                    <button mat-fab extended color="primary" class="ml-3" (click)="agregarFichaIdentificacion()" *ngIf="this.centro.nemonico!='SOA'&&this.centro.nemonico!='CJDR'">
                        <mat-icon>add</mat-icon>Agregar Registro Ingreso Inicial
                    </button>
                </div>
            </div>        
            <div class="mt-8 overflow-auto">
                @if(listaFichasIdentificacion.length > 0){
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 "matSort (matSortChange)="onSortChange($event)">

                    @for(key of getKeys(); track $index){
                    <ng-container [matColumnDef]="key">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{keyLabelsTable[key]}}</th>
                        <td mat-cell *matCellDef="let fichaIdentificacion; let i = index;">
                            @if(key == "acciones"){
                                <button mat-icon-button (click)="editarFichaIdentificacion(fichaIdentificacion)">
                                    <mat-icon class="text-message">visibility</mat-icon>
                                </button>
                            }@else{
                                @if(key == "numero"){
                                    {{totalItems - (i + (page * size))}}
                                }@else if(key == "apellidos"){
                                    {{ fichaIdentificacion.apellidoPaterno + " " + fichaIdentificacion.apellidoMaterno }}
                                }@else if(key == "tipoSexo"){
                                    {{ fichaIdentificacion.tipoSexo }}
                                }@else if(key == "fechaIngreso"){
                                    {{ getOnlyDate(fichaIdentificacion.fechaIngreso) }}
                                }@else if(key == "fechaNacimiento"){
                                    {{ getOnlyDate(fichaIdentificacion.fechaNacimiento) }}
                                }@else if(key == "juzgado"){
                                    {{ fichaIdentificacion.juzgado ? fichaIdentificacion.juzgado :  'N/A' }}
                                }@else if(key == "juez"){
                                    {{ fichaIdentificacion.juez ? fichaIdentificacion.juez :  'N/A' }}
                                }@else if(key == "observacionIngreso"){
                                    {{ fichaIdentificacion.observacionIngreso ? fichaIdentificacion.observacionIngreso :  'N/A' }}
                                }@else if(key == "tipoEntrada"){
                                    {{ fichaIdentificacion.tipoEntrada ? fichaIdentificacion.tipoEntrada.nombre :  'N/A' }}
                                }@else if(key == "tipoDocumento"){
                                    {{ fichaIdentificacion.nombreTipoDocumento ? fichaIdentificacion.nombreTipoDocumento :  'N/A' }}
                                }@else if(key == "numeroIdentificacion"){
                                    {{ fichaIdentificacion.numeroDocumento ? fichaIdentificacion.numeroDocumento :  'N/A' }}
                                }@else {
                                    {{ fichaIdentificacion[key] ? fichaIdentificacion[key] : 'N/A' }}
                                }
                            }
                        </td>
                    </ng-container>
                    }

                    <tr mat-header-row *matHeaderRowDef="getKeys()"></tr>
                    <tr mat-row *matRowDef="let row; columns: getKeys();let i = index"></tr>
                </table>
                }
            </div>

            <div class="mt-8 text-rigth">
                <mat-paginator (page)="handlePageEvent($event)" [length]="totalItems" [pageSize]="size"
                    [showFirstLastButtons]="true" [pageSizeOptions]="listSize" [pageIndex]="page" class="flex justify-center text-bold">
                </mat-paginator>
            </div>
        </div>
    </div>
</div>