<div class="flex min-w-0 flex-auto flex-col">
    <div class="flex-auto p-6 sm:p-10">
        <div class="container">

            <ng-container *ngIf="!mostrarFormulario">
                <app-tabla-lista
                    #tabla
                    [title]="'Trabajo laboral'"
                    [dataList]="listaTrabajosLaborales"
                    [keyLabels]="keyLabelsTable"
                    [pagination]="paginacion"
                    [bloqueo]="false"
                    [editarVer]="true"
                    [editarYVer]="true"
                    [visualizar]="true"
                    [editar]="true"
                    [eliminar]="true"
                    (refresh)="obtenerTrabajosLaborales()"
                    (add)="agregarTrabajoLaboral()"
                    (view)="verTrabajoLaboral($event)"
                    (edit)="editarTrabajoLaboral($event)"
                    (delete)="eliminarTrabajoLaboral($event)"
                    (requestAllData)="descargarExcelCompleto()"
                    (sortChange)="handleSortEvent($event)"
                    (search)="handleSearchEvent($event)"
                    (pageChange)="handlePageEvent($event)">
                </app-tabla-lista>
            </ng-container>

            <ng-container *ngIf="mostrarFormulario">
                <app-trabajo-laboral-crear-editar
                    [uuid_fp]="uuid_fp"
                    [modo]="modoFormulario"
                    [trabajoLaboral]="trabajoLaboralSeleccionado"
                    (cerrar)="cerrarFormularioTrabajoLaboral()">
                </app-trabajo-laboral-crear-editar>
            </ng-container>

        </div>
    </div>
</div>