<div mat-dialog-content>
  <div *ngIf="isLoading" class="loading-container">
    <mat-spinner></mat-spinner>
    <p>Cargando datos del árbol...</p>
  </div>
  <div *ngIf="!isLoading" mat-dialog-title class="pb-3 text-lg font-bold text-primary">
    Selecciona una localidad
  </div>
  <mat-drawer-container class="h-full" #matDrawerContainer>
    <mat-drawer mode="side" opened #drawer>
      <div class="absolute right-0" align="end">
        <button mat-icon-button (click)="drawer.close()">
          <mat-icon [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
        </button>
      </div>
    </mat-drawer>
    <div class="tree-container" *ngIf="nodeItems.length > 0">
      <tree-ngx [nodeItems]="nodeItems" (clickArrowRigthEvent)="clickArrowRigthEvent($event)" #treeNgx>
        <ng-template #nodeNameTemplate let-node="node">
          <div class="flex items-center justify-between w-full cursor-pointer" (click)="seleccionar(node)">
            <span class="font-semibold">{{ node.name }}</span>
            <mat-icon *ngIf="node.hasChild" class="text-lg cursor-pointer" (click)="clickArrowRigthEvent(node)">

            </mat-icon>
          </div>
        </ng-template>
      </tree-ngx>
    </div>
  </mat-drawer-container>

  <p *ngIf="nodeItems.length === 0 && !isLoading">⚠️ No hay datos para mostrar.</p>

</div>

<div mat-dialog-actions align="end">
  <button mat-flat-button color="accent" (click)="cerrar()">Cerrar</button>
</div>